### Compose structure to coordinate Vapor and its dependencies ###
services:
  # Ollama
  ollama:
    image: ollama/ollama:latest
    container_name: vapor-ollama
    volumes:
      - ${VAPOR_DATA_PATH}/ollama:/root/.ollama
    ports:
      - 11433:11434
    healthcheck:
      test: ollama list
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 10s
      start_interval: 2s
    restart: unless-stopped

  # Neo4j GraphDB 
  neo4j:
    image: neo4j:2025.05.0
    container_name: vapor-neo4j
    volumes:
      - ${VAPOR_DATA_PATH}/neo4j/logs:/logs
      - ${VAPOR_DATA_PATH}/neo4j/config:/config
      - ${VAPOR_DATA_PATH}/neo4j/data:/data
      - ${VAPOR_DATA_PATH}/neo4j/plugin:/plugins
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PW}
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted="apoc.text.*"
    ports:
      - 7474:7474
      - 7687:7687
    healthcheck:
      test: wget http://localhost:7474/browser -O -
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 30s
      start_interval: 5s
    restart: unless-stopped

  # FastMCP Server
  mcp:
    image: vapor-mcp
    container_name: vapor-mcp
    build:
      context: .
      dockerfile: ./dockerfiles/vapor-mcp.dockerfile
    env_file:
      - ./.env
    environment:
      - FASTMCP_HOST=0.0.0.0
    command: fastmcp run vapor/svc/mcp/run.py:mcp --transport http --port 8000
    ports:
      - 8000:8000
    restart: unless-stopped
    depends_on:
      neo4j: 
        condition: service_healthy
      ollama:
        condition: service_healthy
